.home{
    width: 100%;
    height: 100vh;
    background-image:url(../../public/download.jpg)  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


